@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: white;
  --foreground: black;
  color: black;
}
:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background: black;
  --foreground: white;
  color: white;
}

.c_dark-mode_post > * {
  color: white;
}

.c_project-card {
  transform: sacle(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.c_project-card:hover {
  transform: sacle(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
